# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/clang-format.json
# @help: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

ColumnLimit: 120
